<div ng-controller="HeaderController" class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h1>
                Example page header <small>Subtext for header, change once effect any where</small>
            </h1>
        </div>
        <div class="carousel slide" id="carousel-791253">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-791253">
                </li>
                <li data-slide-to="1" data-target="#carousel-791253">
                </li>
                <li data-slide-to="2" data-target="#carousel-791253">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" src="http://lorempixel.com/1600/500/sports/1">
                    <div class="carousel-caption">
                        <h4>
                            First Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="http://lorempixel.com/1600/500/sports/2">
                    <div class="carousel-caption">
                        <h4>
                            Second Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="http://lorempixel.com/1600/500/sports/3">
                    <div class="carousel-caption">
                        <h4>
                            Third Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
            </div> <a class="left carousel-control" href="#carousel-791253" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-791253" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active">-->
                        <!--<a href="#">Link</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">Link</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li>-->
                                <!--<a href="#">Action</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Another action</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Something else here</a>-->
                            <!--</li>-->
                            <!--<li class="divider">-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Separated link</a>-->
                            <!--</li>-->
                            <!--<li class="divider">-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">One more separated link</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Forgot password ...</a>
                    </li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a href="#">Action</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Another action</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Something else here</a>-->
                    <!--</li>-->
                    <!--<li class="divider">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Separated link</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <form name="loginForm" >
                <div  class="navbar-form navbar-right" role="login">
                    <div class="form-group ">
                        <div ng-show="loginForm.$error.email|| alertLoginFail" class=" alert alert-danger" role="alert">
                            <strong>{{alertLoginFail||'Please input correct email format !!'}} </strong>
                        </div>
                    </div>
                    <div ng-class="loginForm.$error.email?'has-error':''" class="form-group ">
                        <!--<label  class="control-label" >Invalid email</label>-->
                        <input ng-model="email" type="email" class="form-control" placeholder="Email" >
                    </div>
                    <div ng-class="0<password.length && password.length<5?'has-error':''" class="form-group">
                        <input ng-model="password" type="password" class="form-control" placeholder="Password" >
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button ng-disabled="loginForm.$error.email" ng-click="c.login()"  type="button" class="btn btn-default">Login</button>

                </div>
                </form>
            </div>

        </nav>
    </div>
</div>
